<div class="form-card">
  <h2>nouveau utilisateur</h2>
  <form action="" method="post">

    <label for="">nom</label><input type="text" name="full-name" autocomplete="off"> <br>
    <label for="">email</label><input type="text" name="email" autocomplete="off"> <br>
    <label for="">mot de passe</label><input type="text" name="password" autocomplete="off"> <br>


   <div class="action-buttons">
      <button type="submit" name="enregistrer" (click)="onSubmitForm()">Enregistrer</button>
    </div>
  </form>
</div>
