<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">saveur FOOD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="reservation" routerLinkActive="active">reservation<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="carte" routerLinkActive="active">carte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="galeries" routerLinkActive="active">galeries</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="menu-resto" routerLinkActive="active">menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="horaires" routerLinkActive="active">Reglage horaires</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <button class="btn btn-success" *ngIf="loginbtn" routerLink="/login" routerLinkActive="active">Login</button>
  </li>
  <li class="nav-item">
    <button type="btn btn-danger" *ngIf="logoutbtn" class="btn btn-danger " (click)="logout()">logout</button>
  </li>



</ul>
<app-footer></app-footer>
